.bg-green{
    background-color: #a2c11c;
}
.top-bar {
    padding: 6px 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

.email-left{
    font-size: 0.8em;
}
.icons-right{
    font-size: 0.8em;
}
.top-bar a:hover {
    color: black !important;
}
.ibs {
  color: #a2c11c;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}
.navi{
    color: black;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link {
    color: black !important;
    /* font-size:medium; */
}

.nav-link:hover {
    color: #a2c11c !important;
}

.dropdown-menu a:hover{
    background-color: #a2c11c;
}
/* Start img */
.card-img {
  height: 60vh;
  object-fit: cover; 
  width: 100%; 
}

.card-img-overlay h5 {
  margin-top: 150px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media (max-width: 768px) {
  .card-img {
    height: 40vh; 
  }
  .card-img-overlay h5 {
    margin-top: 100px;
    font-size: 20px; 
  }
}
@media (max-width: 1024px) {
  .card-img {
    height: 50vh;
  }
  .card-img-overlay h5 {
    margin-top: 120px; 
    font-size: 25px; 
  }
}
/* Salad Section */
.container h2{
    color:#a2c11c;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
}
.salad-recipes {
    padding: 20px;
  }
  
.salad-recipe-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.salad-recipe-text {
    padding: 20px;
  }
  
.salad-recipe-image {
    padding: 20px;
  }
  
.salad-recipe-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .salad-recipe-horizontal{
    background-color: whitesmoke;
    border-radius: 4px;
  }
  .salad-recipe-horizontal:hover{
    color:#a2c11c;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	  transition: box-shadow 0.3s ease;
    transition: all 0.8s ease-in-out;
  } 

 /* Footer */
  .company-name {
    color: #a2c11c;
    font-size:22px;
    font-family: 'Times New Roman', Times, serif;
  }
  .icons:hover{
    color:#a2c11c;
  }
  
   